--
-- PostgreSQL database dump
--

\restrict fpiGrDaoILeqSPHOcTlJV6Swnh7ondZX98MIibzZWR6dMXfT8sWqFJc7IknuUTs

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg12+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


--
-- Name: candidatestatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.candidatestatus AS ENUM (
    'NEW',
    'SCREENING',
    'INTERVIEW',
    'OFFER',
    'HIRED',
    'REJECTED',
    'WITHDRAWN'
);


ALTER TYPE public.candidatestatus OWNER TO postgres;

--
-- Name: experiencelevel; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.experiencelevel AS ENUM (
    'ENTRY',
    'JUNIOR',
    'MID',
    'SENIOR',
    'LEAD',
    'EXECUTIVE'
);


ALTER TYPE public.experiencelevel OWNER TO postgres;

--
-- Name: jobstatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.jobstatus AS ENUM (
    'DRAFT',
    'OPEN',
    'PAUSED',
    'CLOSED',
    'FILLED'
);


ALTER TYPE public.jobstatus OWNER TO postgres;

--
-- Name: jobtype; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.jobtype AS ENUM (
    'FULL_TIME',
    'PART_TIME',
    'CONTRACT',
    'INTERNSHIP',
    'TEMPORARY'
);


ALTER TYPE public.jobtype OWNER TO postgres;

--
-- Name: userrole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.userrole AS ENUM (
    'ADMIN',
    'RECRUITER'
);


ALTER TYPE public.userrole OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: candidates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.candidates (
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    phone character varying(50),
    current_title character varying(200),
    current_company character varying(200),
    years_of_experience integer,
    skills character varying[],
    resume_text text,
    resume_url character varying(500),
    location character varying(200),
    status public.candidatestatus NOT NULL,
    linkedin_url character varying(500),
    notes text,
    embedding public.vector(768),
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.candidates OWNER TO postgres;

--
-- Name: jobs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs (
    title character varying(200) NOT NULL,
    description text NOT NULL,
    department character varying(100),
    team character varying(100),
    job_type public.jobtype NOT NULL,
    experience_level public.experiencelevel NOT NULL,
    location character varying(200),
    is_remote boolean NOT NULL,
    required_skills character varying[],
    preferred_skills character varying[],
    min_years_experience integer,
    education_requirement character varying(200),
    salary_min numeric(12,2),
    salary_max numeric(12,2),
    salary_currency character varying(3) NOT NULL,
    benefits character varying[],
    responsibilities character varying[],
    status public.jobstatus NOT NULL,
    posted_at timestamp with time zone,
    closes_at timestamp with time zone,
    deleted_at timestamp with time zone,
    embedding public.vector(768),
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.jobs OWNER TO postgres;

--
-- Name: match_results; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.match_results (
    candidate_id uuid NOT NULL,
    job_id uuid NOT NULL,
    overall_score numeric(3,2) NOT NULL,
    skills_score numeric(3,2) NOT NULL,
    experience_score numeric(3,2) NOT NULL,
    reasoning text,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.match_results OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    email character varying(255) NOT NULL,
    hashed_password character varying(255) NOT NULL,
    full_name character varying(255) NOT NULL,
    role public.userrole NOT NULL,
    is_active boolean NOT NULL,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: candidates; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: jobs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: match_results; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.match_results (candidate_id, job_id, overall_score, skills_score, experience_score, reasoning, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (email, hashed_password, full_name, role, is_active, id, created_at, updated_at) FROM stdin;
adminvaspp@hrapp.com	$2b$12$r3bvLnPHdl7ihvjq51ZmCeWeBP86occBWzLqSZDUZ45xGLf7qtP2i	Admin User	ADMIN	t	7878b029-7c44-4b77-92f7-5db6c8f39f3f	2026-02-10 07:30:27.93321+00	2026-02-10 07:30:27.93321+00
\.


--
-- Name: candidates candidates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidates
    ADD CONSTRAINT candidates_pkey PRIMARY KEY (id);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (id);


--
-- Name: match_results match_results_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.match_results
    ADD CONSTRAINT match_results_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_candidates_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_candidates_email ON public.candidates USING btree (email);


--
-- Name: ix_jobs_title; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_jobs_title ON public.jobs USING btree (title);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: match_results match_results_candidate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.match_results
    ADD CONSTRAINT match_results_candidate_id_fkey FOREIGN KEY (candidate_id) REFERENCES public.candidates(id) ON DELETE CASCADE;


--
-- Name: match_results match_results_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.match_results
    ADD CONSTRAINT match_results_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict fpiGrDaoILeqSPHOcTlJV6Swnh7ondZX98MIibzZWR6dMXfT8sWqFJc7IknuUTs

